#app .navbar-finalstyle {
    position: fixed;
    width: 100%
}

#app .navbar-finalstyle #main-menu ul li a,
#app .navbar-finalstyle .form-select-lang {
    color: #fff
}

@media (min-width:768px) {
    #app .navbar-finalstyle .form-select-lang {
        white-space: nowrap
    }
}

#app .navbar-finalstyle .form-select-lang select,
#app .navbar-finalstyle .form-select-lang select option {
    color: #fff
}

#app .active-menu {
    background: #fff
}

#app .active-menu #main-menu ul li a {
    color: #000
}

#app .active-menu .form-select-lang,
#app .active-menu .form-select-lang select,
#app .active-menu .form-select-lang select option {
    color: #625b5b
}

.top-content {
    margin-bottom: 88px
}

.top-content img {
    margin: 0 auto
}

.top-content .slide-home .slick-next {
    right: 65px;
    z-index: 1
}

.top-content .slide-home .slick-next svg rect:hover {
    fill: #e91a22;
    fill-opacity: 100%
}

.top-content .slide-home .slick-next:before {
    content: ""
}

.top-content .slide-home .slick-prev {
    left: 35px;
    z-index: 1
}

.top-content .slide-home .slick-prev svg rect:hover {
    fill: #e91a22;
    fill-opacity: 100%
}

.top-content .slide-home .slick-prev:before {
    content: ""
}

.top-content .slide-home .btn-slider {
    bottom: 50%;
    left: 19%;
    top: 60%
}

.top-content .slide-home .btn-slider li {
    text-align: center
}

.top-content .slide-home .btn-slider li a {
    display: block;
    font-family: GoogleSans-Bold;
    padding: 10px 24px;
    text-transform: uppercase
}

@media (max-width:768px) {
    .top-content .slide-home .btn-slider {
        display: none
    }
}

.top-content .slider-nav-slide-home {
    margin-top: -80px
}

.top-content .slider-nav-slide-home .slick-list {
    padding-top: 20px
}

.top-content .slider-nav-slide-home .img-slide-item {
    padding: 0 8px
}

.top-content .slider-nav-slide-home .slick-active img {
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden
}

.top-content .slider-nav-slide-home .slick-current {
    margin-top: -20px
}

.top-content .slider-nav-slide-home .slick-current img {
    border: 2px solid #f3d792
}

@media (max-width:768px) {
    .top-content .slider-nav-slide-home {
        display: none
    }
    .top-content {
        margin-bottom: 40px
    }
}

.page-about {
    margin-bottom: 120px
}

.page-about .img-about img {
    border-radius: 30px;
    overflow: hidden
}

.page-about .content-home-page .hashtag-about {
    color: #e4a812;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 20px;
    text-transform: uppercase
}

.page-about .content-home-page .title-about {
    color: #e91a22;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 48px;
    margin-bottom: 40px;
    text-transform: uppercase
}

@media (max-width:768px) {
    .page-about .content-home-page .title-about {
        font-size: 30px;
        margin-bottom: 20px
    }
}

.page-about .content-home-page .about-description {
    color: #625b5b;
    margin-bottom: 50px
}

@media (max-width:768px) {
    .page-about .content-home-page .about-description {
        margin-bottom: 20px
    }
}

.page-about .content-home-page .btn-see-about {
    background: #e91a22;
    border-radius: 8px;
    color: #fff;
    padding: 10px 24px
}

.page-about .content-home-page .btn-see-about:hover {
    background: #a51218
}

@media (max-width:768px) {
    .page-about {
        margin-bottom: 50px
    }
}

.box-order {
    background: url(/images/bg-order.jpg?abc302b7ec4ae570eeeccafb71aa8a27) no-repeat top;
    background-size: cover;
    padding: 120px 0
}

@media (max-width:768px) {
    .box-order .ps-5 {
        padding-left: 1rem !important
    }
}

.box-order .title-order {
    color: #e9b941;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase
}

@media (max-width:768px) {
    .box-order .title-order {
        font-size: 30px;
        text-align: center
    }
}

.box-order .product-home #myTabProduct {
    border: none;
    flex-wrap: nowrap;
    margin-bottom: 36px;
    overflow-y: hidden;
    padding-bottom: 5px;
    white-space: nowrap
}

.box-order .product-home #myTabProduct::-webkit-scrollbar {
    height: 7px;
    width: 5px
}

.box-order .product-home #myTabProduct::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px
}

.box-order .product-home #myTabProduct::-webkit-scrollbar-thumb {
    background: #c1bdbd;
    border-radius: 10px
}

.box-order .product-home #myTabProduct::-webkit-scrollbar-thumb:hover {
    background: #555
}

.box-order .product-home #myTabProduct li {
    margin-right: 8px
}

.box-order .product-home #myTabProduct li .nav-link {
    background: rgba(26, 3, 4, .12);
    border: none;
    border-radius: 8px;
    color: #fde8e9;
    font-size: 14px;
    padding: 8px 16px;
    text-transform: uppercase
}

.box-order .product-home #myTabProduct li .active {
    background: #a51218
}

.box-order .product-home #myTabContentProduct .item-product {
    background: rgba(0, 0, 0, .28);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px
}

@media (min-width:768px) {
    .box-order .product-home #myTabContentProduct .item-product>a {
        height: 90px;
        overflow: hidden;
        width: 120px
    }
}

.box-order .product-home #myTabContentProduct .item-product>a img {
    border-radius: 4px;
    max-width: 120px;
    transition: transform .3s ease-in-out
}

.box-order .product-home #myTabContentProduct .item-product .info-title-product {
    width: 70%
}

.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product {
    display: flex;
    transition: transform .3s ease-in-out
}

.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product p {
    margin-bottom: 0;
    max-height: 26px;
    overflow: hidden
}

.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product .title-product-box {
    color: #fde8e9;
    font-family: GoogleSans-Bold;
    text-transform: uppercase
}

.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product .price-product-box {
    color: #e9b941;
    font-family: GoogleSans-Bold;
    font-size: 18px;
    text-align: right;
    transition: text-align .3s ease-in-out
}

.box-order .product-home #myTabContentProduct .item-product .info-title-product .right-hover-product {
    display: none;
    transition: display .3s ease-in-out
}

@media (max-width:768px) {
    .box-order .product-home #myTabContentProduct .item-product .info-title-product {
        display: block;
        margin-left: 20px;
        width: 100%
    }
    .box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product .price-product-box {
        text-align: left
    }
}

.box-order .product-home #myTabContentProduct .item-product:hover {
    background: rgba(55, 6, 8, .8)
}

.box-order .product-home #myTabContentProduct .item-product:hover img {
    transform: scale(1.2)
}

.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product {
    display: flex;
    justify-content: space-between
}

.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .left-hover-product {
    display: flex;
    flex-wrap: wrap
}

.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .left-hover-product .price-product-box {
    text-align: left
}

.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .right-hover-product {
    display: block;
    text-align: right
}

.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .right-hover-product a:first-child {
    margin-bottom: 12px;
    width: 120px
}

.box-order .product-home #myTabContentProduct .see-all-product {
    background: rgba(26, 3, 4, .12);
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 15px 24px
}

.box-order .des-order {
    color: #f59699;
    margin-bottom: 40px
}

.box-order .des-order,
.box-order .des-order b {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 168%
}

.box-order .des-order b {
    color: #fff
}

.box-order form input,
.box-order form select,
.box-order form textarea {
    background: rgba(0, 0, 0, .16);
    border: none;
    border-radius: 4px;
    color: #fde8e9;
    margin-bottom: 15px;
    padding: 12px 20px
}

.box-order form input::-webkit-input-placeholder,
.box-order form select::-webkit-input-placeholder,
.box-order form textarea::-webkit-input-placeholder {
    color: hsla(0, 0%, 100%, .322)
}

.box-order form input:focus,
.box-order form select:focus,
.box-order form textarea:focus {
    background-color: unset;
    color: #fde8e9
}

.box-order form input:focus-visible,
.box-order form select:focus-visible,
.box-order form textarea:focus-visible {
    background-color: unset;
    color: #fde8e9
}

.box-order form input[type=date] {
    color: #fde8e9
}

.box-order form input[type=date]:focus {
    background-color: #fff;
    color: #000
}

.box-order form select {
    color: #fde8e9
}

.box-order form select:focus {
    background-color: #fff;
    color: #000
}

.box-order form option[value=""][disabled] {
    color: #fff;
    display: none
}

.box-order form option {
    color: #222
}

.box-order form .btn-order-now {
    background: var(--primary-primary-500, #e91a22);
    border-radius: 8px;
    box-shadow: 24px 24px 64px 0 rgba(233, 26, 34, .32);
    color: #fff;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%
}

.box-order form .btn-order-now:hover {
    background: #a51218
}

@media (max-width:768px) {
    .box-order form select {
        width: 100%
    }
    .box-order {
        padding: 50px 0
    }
}

.box-media {
    padding: 120px 0
}

.box-media .content-home-page .hashtag-about {
    color: #e4a812;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 20px;
    text-transform: uppercase
}

.box-media .content-home-page .title-about {
    color: #e91a22;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 48px;
    margin-bottom: 40px;
    text-transform: uppercase
}

@media (max-width:768px) {
    .box-media .content-home-page .title-about {
        font-size: 29px;
        margin-bottom: 20px
    }
}

.box-media .content-home-page .about-description {
    color: #625b5b;
    margin-bottom: 50px
}

@media (max-width:768px) {
    .box-media .content-home-page .about-description {
        margin-bottom: 20px
    }
}

.box-media .content-home-page .btn-see-about {
    background: #e91a22;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px 24px
}

.box-media .content-home-page .btn-see-about:hover {
    background: #a51218
}

.box-media .list-media .row .col-md-6:nth-child(2) {
    margin-top: 80px
}

@media (min-width:512px) and (max-width:1023px) {
    .box-media .list-media .row .col-md-6:nth-child(2) {
        margin-top: 0
    }
}

@media (max-width:768px) {
    .box-media .list-media .row .col-md-6:nth-child(2) {
        margin-top: 0
    }
}

.box-media .list-media .row .col-md-6:nth-child(3) {
    margin-top: -80px
}

@media (min-width:512px) and (max-width:1023px) {
    .box-media .list-media .row .col-md-6:nth-child(3) {
        margin-top: 0
    }
}

@media (max-width:768px) {
    .box-media .list-media .row .col-md-6:nth-child(3) {
        margin-top: 0
    }
}

.box-media .list-media .row .col-md-6:nth-child(4) .content-media-home {
    margin-bottom: 0
}

@media (min-width:512px) and (max-width:1023px) {
    .box-media .list-media .row .col-md-6:nth-child(4) .content-media-home {
        margin-bottom: 40px
    }
}

@media (max-width:768px) {
    .box-media .list-media .row .col-md-6:nth-child(4) .content-media-home {
        margin-top: 0
    }
}

.box-media .list-media .content-media-home {
    background: linear-gradient(180deg, #620b0e, #800e13);
    border-radius: 8px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative
}

.box-media .list-media .content-media-home img:first-child {
    transition: transform .3s ease-in-out;
    width: 100%
}

@media (max-width:768px) {
    .box-media .list-media .content-media-home img:first-child {
        width: 100%
    }
}

.box-media .list-media .content-media-home span {
    display: block
}

.box-media .list-media .content-media-home .title-media-item {
    leading-trim: both;
    text-edge: cap;
    whitespace: nowrap;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: transform .3s ease-in-out
}

.box-media .list-media .content-media-home .title-media-item span {
    display: block;
    max-height: 25px;
    overflow: hidden
}

.box-media .list-media .content-media-home:hover {
    background: none
}

.box-media .list-media .content-media-home:hover span img:first-child {
    transform: scale(1.3)
}

.box-media .list-media .content-media-home:hover .for-hover {
    background: linear-gradient(180deg, rgba(128, 14, 19, 0), #620b0e);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

.box-media .list-media .content-media-home:hover .title-media-item {
    background: none;
    padding: 0;
    position: relative;
    transform: translateY(-100%);
    z-index: 1
}

.box-media .list-media .content-media-home:hover .title-media-item span {
    max-height: unset
}

@media (max-width:768px) {
    .box-media .list-media .content-media-home {
        margin-bottom: 20px
    }
}

.box-media .list-media .for-video .play-youtube-video {
    position: absolute;
    z-index: 1
}

@media (max-width:768px) {
    .box-media {
        padding: 50px 0
    }
}

.box-new {
    background: url(/images/bg_news.jpg?a2b11265da113077b2d425d4c8132925) no-repeat top;
    background-size: cover;
    padding: 120px 0
}

.box-new .title-box-new {
    color: #e9b941;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 48px;
    margin-bottom: 45px;
    text-transform: uppercase
}

@media (max-width:768px) {
    .box-new .title-box-new {
        font-size: 30px;
        margin-bottom: 20px
    }
}

.box-new .article-list-home .article-item {
    padding: 0 24px
}

.box-new .article-list-home .article-item .article-item-content {
    background: rgba(0, 0, 0, .28);
    border-radius: 8px;
    overflow: hidden
}

.box-new .article-list-home .article-item .article-item-content img {
    transition: transform .3s ease-in-out
}

.box-new .article-list-home .article-item .article-item-content a:first-child {
    display: block;
    max-height: 236px;
    overflow: hidden
}

@media (max-width:768px) {
    .box-new .article-list-home .article-item .article-item-content a:first-child {
        max-height: 200px
    }
}

.box-new .article-list-home .article-item .article-item-content .box-content-article {
    color: #fff;
    padding: 24px
}

.box-new .article-list-home .article-item .article-item-content .box-content-article .calendar-new {
    color: rgba(253, 232, 233, .68);
    font-size: 14px;
    margin-bottom: 12px
}

.box-new .article-list-home .article-item .article-item-content .box-content-article .title-article {
    color: var(--primary-primary-50, #fde8e9);
    font-family: GoogleSans-Bold;
    margin-bottom: 12px;
    max-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (max-width:768px) {
    .box-new .article-list-home .article-item .article-item-content .box-content-article .title-article {
        white-space: unset
    }
}

.box-new .article-list-home .article-item .article-item-content .box-content-article .description-article {
    color: rgba(253, 232, 233, .68);
    font-size: 14px;
    margin-bottom: 0;
    max-height: 70px;
    overflow: hidden
}

.box-new .article-list-home .article-item .article-item-content:hover img {
    transform: scale(1.2)
}

.box-new .article-list-home .article-item .article-item-content:hover .box-content-article,
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .calendar-new {
    color: #fff
}

.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .title-article {
    color: #e4a812
}

.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .description-article {
    color: #fff
}

@media (max-width:768px) {
    .box-new .article-list-home .article-item {
        padding: unset
    }
    .box-new {
        padding: 50px 0 30px
    }
}

/*# sourceMappingURL=home.css.map*/