.top-content-products {
    padding-top: 45px
}

.top-content-products .title-page {
    color: #e91a22;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 48px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase
}

@media (max-width:768px) {
    .top-content-products .title-page {
        font-size: 30px;
        margin-bottom: 20px
    }
}

.top-content-products .list-menu-page {
    margin-bottom: 45px;
    text-align: center
}

.top-content-products .list-menu-page li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 16px
}

.top-content-products .list-menu-page li a {
    background: #f9eccb;
    border-radius: 8px;
    color: #620b0e;
    display: block;
    min-width: 100px;
    padding: 8px 16px
}

.top-content-products .list-menu-page li .active {
    background: #e91a22;
    color: #fff
}

@media (max-width:768px) {
    .top-content-products .list-menu-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px
    }
    .top-content-products {
        padding-top: 20px
    }
}

.list-products-home .mg-for-product {
    margin: 0 -24px
}

.list-products-home .item-product {
    margin-bottom: 24px;
    padding: 0 24px
}

.list-products-home .item-product .image-product-item {
    overflow: hidden
}

.list-products-home .item-product .image-product-item img {
    transition: transform .3s ease-in-out
}

.list-products-home .item-product .image-product-item .add-to-cart-cat {
    display: none;
    transition: transform .3s ease-in-out
}

.list-products-home .item-product .image-product-item .add-to-cart-cat ul li a,
.list-products-home .item-product .image-product-item .add-to-cart-cat ul li button {
    font-family: GoogleSans-Bold;
    height: 48px;
    line-height: 30px;
    min-width: 183px
}

.list-products-home .item-product .image-product-item .add-to-cart-cat ul li a {
    margin-bottom: 5px
}

.list-products-home .item-product .image-product-item .add-to-cart-cat ul li button {
    color: #620b0e
}

.list-products-home .item-product .image-product-item .bg-hover-black {
    background: rgba(14, 2, 2, .7);
    display: none
}

.list-products-home .item-product .box-item-detail {
    padding-bottom: 24px;
    padding-top: 24px
}

.list-products-home .item-product .box-item-detail .title-product {
    color: #000;
    font-family: GoogleSans-Bold;
    margin-bottom: 16px;
    text-transform: uppercase
}

.list-products-home .item-product .box-item-detail .price-product {
    color: #e91a22;
    font-family: GoogleSans-Bold;
    font-size: 20px;
    margin-bottom: 0
}

.list-products-home .item-product:hover .image-product-item img {
    transform: scale(1.3)
}

.list-products-home .item-product:hover .image-product-item .add-to-cart-cat,
.list-products-home .item-product:hover .image-product-item .bg-hover-black {
    display: block
}

.list-products-home .item-product:hover .box-item-detail {
    background: #fbf1d9;
    padding: 24px
}

/*# sourceMappingURL=products-home.css.map*/