@font-face {
    font-family: GoogleSans;
    src: url(/fonts/GoogleSans-Regular.ttf?4b411db491ad6ae789b840fb3a5e6107)
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url(/fonts/GoogleSans-Bold.ttf?6b36bf67d979283ff19fb8a20f0d8abe)
}

@font-face {
    font-family: SVN-SVN-A-Love-Of-Thunder;
    src: url(/fonts/SVN-SVN-A-Love-Of-Thunder.ttf?b6aff5c206bb6e771bbfa25bf5ce3941)
}

@font-face {
    font-family: SVN-Bear;
    src: url(/fonts/SVN-Bear.ttf?f0bbac2951868f94dd6bba8792dc8687)
}

h1,
h2,
h3,
h4 {
    font-family: GoogleSans-Bold, sans-serif
}

.container-top {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%
}

@media (min-width:576px) {
    .container-top {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container-top {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container-top {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container-top {
        max-width: 1680px
    }
}

@media (min-width:1400px) {
    .container-top {
        max-width: 1680px
    }
}

body {
    background-color: #fff;
    font-family: GoogleSans, sans-serif;
    font-size: 16px
}

@media (max-width:768px) {
    body {
        font-size: 18px
    }
}

a {
    text-decoration: unset
}

a:hover {
    color: #bc2330
}

.fzandcolor-iconmb {
    color: #a59898;
    font-size: 22px
}

#app {
    overflow-x: hidden;
    position: relative
}

#app .navbar-finalstyle {
    z-index: 3
}

#app .navbar-finalstyle .navbar-brand {
    display: block;
    padding: 8px 0
}

#app .navbar-finalstyle .navbar-brand .logo-fs {
    max-height: 80px
}

#app .navbar-finalstyle #main-menu ul {
    display: flex;
    display: flex;
    display: flex;
    float: none;
    margin: 0
}

#app .navbar-finalstyle #main-menu ul li {
    float: none;
    line-height: 50px;
    position: relative
}

@media (max-width:1280px) {
    #app .navbar-finalstyle #main-menu ul li {
        line-height: 30px
    }
}

#app .navbar-finalstyle #main-menu ul li a {
    color: #000;
    font-family: GoogleSans-Bold;
    padding: 0 32px 0 0;
    text-decoration: none
}

@media (max-width:1440px) {
    #app .navbar-finalstyle #main-menu ul li a {
        font-size: 16px;
        padding: 0 20px 0 0
    }
}

@media screen and (min-width:980px) and (max-width:1300px) {
    #app .navbar-finalstyle #main-menu ul li a {
        font-size: 14px;
        padding: 0 20px 0 0;
        white-space: nowrap
    }
}

#app .navbar-finalstyle #main-menu ul li a:hover {
    color: var(--primary-primary-500, #e91a22)
}

#app .navbar-finalstyle #main-menu ul li .sub-menu {
    display: block;
    display: block;
    display: none;
    list-style: none;
    padding: 0;
    position: absolute
}

#app .navbar-finalstyle #main-menu ul li .sub-menu li a {
    color: #fff;
    display: block;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 11px 26px 9px 6px;
    text-transform: unset;
    width: 200px
}

#app .navbar-finalstyle #main-menu ul li .sub-menu li a:hover {
    background-color: var(--primary-primary-500, #e91a22);
    border-radius: 8px
}

#app .navbar-finalstyle #main-menu ul>li>a:hover {
    background: unset;
    color: var(--primary-primary-500, #e91a22)
}

#app .navbar-finalstyle #main-menu ul>li>ul .level1-menu-item i {
    margin-right: 15px
}

#app .navbar-finalstyle #main-menu ul>li:hover .sub-menu {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(26, 3, 4, .6);
    border-radius: 8px;
    border-top: 2px solid #e4a812;
    box-shadow: 0 4px 12px 0 rgba(56, 65, 39, .06);
    display: block;
    padding: 8px
}

#app .navbar-finalstyle #main-menu ul>li>.sub-menu>li .sub-menu {
    background: #fff;
    display: none
}

#app .navbar-finalstyle #main-menu ul>li>.sub-menu>li .sub-menu li {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px
}

#app .navbar-finalstyle #main-menu ul>li>.sub-menu>li .sub-menu li:last-child {
    border-bottom: none;
    padding-bottom: 0
}

#app .navbar-finalstyle #main-menu ul>li>.sub-menu>li:hover .sub-menu {
    border: 1px solid #fbf8f8;
    display: block;
    left: 100%;
    top: 0
}

#app .navbar-finalstyle .form-select-lang {
    color: #000
}

#app .navbar-finalstyle .form-select-lang select {
    background: none;
    border: none;
    color: #000
}

#app .navbar-finalstyle .form-select-lang select:focus {
    border: none
}

#app .navbar-finalstyle .btn-order {
    background: #e91a22;
    border-radius: 8px;
    color: #fff;
    padding: 10px 24px
}

@media (min-width:980px) and (max-width:1280px) {
    #app .navbar-finalstyle .btn-order {
        margin-left: 5px;
        padding: 10px 20px;
        white-space: nowrap
    }
}

#app .active-menu {
    background: #fff;
    position: fixed;
    width: 100%
}

#app .content {
    background: #f5f5f5
}

#app .main-footer {
    background: linear-gradient(180deg, #853c40, #620b0e), url('storage/upload_image/images/logo_footer.png'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center; 
}

#app .main-footer .top-footer .info-ft-phone {
    background: rgba(26, 3, 4, .28);
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase
}

#app .main-footer .top-footer .info-ft-phone p {
    font-size: 14px;
    margin-bottom: 5px
}

#app .main-footer .top-footer .info-ft-phone span {
    color: #e9b941;
    font-family: GoogleSans-Bold;
    font-size: 20px
}

#app .main-footer .top-footer .info-ft-phone .open-store {
    color: #fff
}

#app .main-footer .top-footer .btn-order {
    background: #e4a812;
    border-radius: 8px;
    color: #620b0e;
    display: block;
    font-family: GoogleSans-Bold;
    margin: 0;
    padding: 11px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%
}

#app .main-footer .top-footer .btn-order i {
    margin-left: 5px
}

@media (max-width:768px) {
    #app .main-footer .top-footer .btn-order {
        display: none
    }
}

#app .main-footer .top-footer .menu-bottom-ft .title-menu-bt {
    color: var(--primary-primary-50, #fde8e9);
    font-family: GoogleSans-Bold;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase
}

#app .main-footer .top-footer .menu-bottom-ft .list-item-menu-bt li a {
    color: var(--primary-primary-200, #f59699);
    display: block;
    font-size: 14px;
    margin-bottom: 16px
}

@media (max-width:768px) {
    #app .main-footer .top-footer .menu-bottom-ft .list-item-menu-bt {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

#app .main-footer .top-footer .link-to-restaurant {
    margin-top: 20px
}

#app .main-footer .top-footer .link-to-restaurant .btn-store {
    background: rgba(26, 3, 4, .28);
    border-radius: 8px;
    color: #fff;
    display: block;
    padding: 16px;
    width: 100%
}

#app .main-footer .top-footer .link-to-restaurant .btn-store i {
    margin-right: 10px
}

#app .main-footer .top-footer .link-to-restaurant .btn-store:hover {
    background-color: #a51218;
    cursor: pointer
}

#app .cart-all-page {
    right: 20px
}

#app .cart-all-page .number-added-cart {
    background: #e4a812;
    border-radius: 50%;
    font-family: GoogleSans-Bold;
    font-size: 14px;
    padding: 2px 8px;
    right: -12px;
    text-align: center;
    top: -6px
}

#app .scroll-top {
    display: block;
    display: block;
    bottom: 30px;
    right: 20px;
    z-index: 5
}

@media (max-width:768px) {
    #app .scroll-top {
        display: none
    }
}

#app .scroll-top a {
    background: #a51218;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 48px
}

#app .cartToast {
    background: var(--surface-white-active, #fbf1d9);
    border-radius: 16px;
    padding: 8px 16px;
    width: 310px
}

#app .cartToast .toast-body {
    color: var(--neutral-neutral-13, #0e0202);
    font-size: 14px;
    font-weight: 500;
    line-height: normal
}

#app .social-chat-online {
    bottom: 80px;
    right: 20px;
    z-index: 5
}

@media (max-width:768px) {
    #app .social-chat-online {
        display: none
    }
}

.menu-mobile:not(.mm-menu) {
    display: none
}

.order-now-right #offcanvasRight {
    background: url(images\book_right.png) no-repeat 100% 100% !important;
    background-size: cover !important;
    border-radius: 64px 0 0 64px !important;
    justify-content: center !important;
}

.order-now-right .offcanvas.offcanvas-end {
    top: 10%;
    width: 46%
}

.order-now-right .offcanvas.offcanvas-end .offcanvas-header {
    padding: unset
}

.order-now-right .offcanvas.offcanvas-end .offcanvas-header .btn-close {
    background-color: #800e13;
    border-radius: 50%;
    opacity: 1
}

.order-now-right .offcanvas.offcanvas-end .offcanvas-header #offcanvasRightLabel {
    color: #e9b941;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase
}

.order-now-right .offcanvas.offcanvas-end .offcanvas-body {
    overflow-y: unset;
    padding: unset
}

.order-now-right .offcanvas.offcanvas-end .offcanvas-body .des-for-form {
    color: #fff;
    margin-bottom: 40px
}

.order-now-right form input,
.order-now-right form select,
.order-now-right form textarea {
    background: rgba(0, 0, 0, .16);
    border: none;
    border-radius: 4px;
    color: hsla(0, 0%, 100%, .32);
    margin-bottom: 15px;
    padding: 12px 20px
}

.order-now-right form input::-webkit-input-placeholder,
.order-now-right form select::-webkit-input-placeholder,
.order-now-right form textarea::-webkit-input-placeholder {
    color: hsla(0, 0%, 100%, .32)
}

.order-now-right form option[value=""][disabled] {
    display: none
}

.order-now-right form .btn-order-now {
    background: var(--secondary-secondary-500, #e4a812);
    border-radius: 8px;
    box-shadow: 24px 24px 64px 0 rgba(228, 168, 18, .32);
    color: #620b0e;
    font-family: GoogleSans-Bold;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%
}

.order-now-right form .btn-order-now:hover {
    background: #a51218;
    color: #fff
}

@media (max-width:768px) {
    .order-now-right form select {
        width: 100%
    }
}

.pagination .page-item {
    border-color: none;
    margin: 0 5px
}

.pagination .page-item a {
    background-color: #fbf1d9;
    border-color: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    font-weight: 700
}

.pagination .active {
    border-color: none
}

.pagination .active a {
    background-color: #e91a22;
    border-color: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(180, 92, 92, .478)
    }
    to {
        box-shadow: 0 0 0 20px rgba(90, 63, 63, .147);
        opacity: .9
    }
}

.hotline-all {
    bottom: 15%;
    left: 5px;
    position: fixed;
    z-index: 9
}

@media (max-width:768px) {
    .hotline-all {
        bottom: 40%
    }
}

.hotline-all .hotline-icon {
    position: relative
}

.hotline-all .hotline-icon .pulse {
    background: #bc2330;
    border: 1px solid #bc2330;
    border-radius: 100%;
    height: 48px;
    position: absolute;
    width: 48px
}

.hotline-all .hotline-icon .pulse svg {
    left: 25%;
    position: absolute;
    top: 33%
}

.hotline-all .hotline-icon .pulse :after,
.hotline-all .hotline-icon .pulse:before {
    border-radius: 100%;
    content: "";
    height: 48px;
    position: absolute;
    width: 48px
}

.hotline-all .hotline-icon .pulse:before {
    animation: pulse-animation 2s infinite
}

.hotline-all .hotline-icon .pulse:after {
    animation: pulse-animation 4s infinite
}

.hotline-all .hotline-icon .text-hotline {
    background: linear-gradient(270deg, #a51218, #620b0e);
    border-radius: 100px;
    color: #fff;
    left: 25px;
    padding: 5px 30px;
    position: absolute;
    top: 7px;
    width: 140px
}

@media (max-width:768px) {
    .hotline-all .hotline-icon .text-hotline {
        display: none
    }
}

/*# sourceMappingURL=style.css.map*/
